.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

.main-container {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(193, 222, 230);
  background: linear-gradient(
    180deg,
    rgba(193, 222, 230, 1) 0%,
    rgba(57, 175, 213, 1) 60%
  );
}
.weather-container {
  width: 83%;
  height: 88%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.weather-photo {
  width: 62%;
  height: 100%;
  background: rgb(172, 215, 226);
  background: linear-gradient(
    0deg,
    rgba(172, 215, 226, 1) 0%,
    rgba(57, 162, 213, 1) 81%
  );
  padding: 50px 80px 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  color: white;
}
.weather__logo {
  font-size: 14px;
}
.weather__data {
  width: 405px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.weather__degree {
  font-size: 105px;
  margin-bottom: -20px;
}

.weather__data-details {
  width: 100%;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.weather__location{
  width: 100%;
  min-height: 130px;
  overflow-y: scroll;
  text-align: start;
}
.weather__description {
  display: flex;
  flex-direction: column;
}
.weather__city,
.weather__icon {
  font-size: 50px;
}
.weather__description-text {
  font-size: 14px;
}
.weather-info {
  position: relative;
  width: 38%;
  height: 100%;
  background: rgb(97, 157, 182);
  background: linear-gradient(
    0deg,
    rgb(97, 157, 182) 19%,
    rgb(70, 117, 156) 58%
  );
  padding: 55px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(201, 198, 198);
}
.weather-info__input {
  width: 250px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(201, 198, 198);
  padding-bottom: 10px;
}
.submit-button {
  position: absolute;
  top: 0px;
  right: 0;
  width: 85px;
  height: 85px;
  text-align: center;
  background-color: rgb(145, 182, 212);
  outline: none;
  border: none;
}

.weather-info__input:focus {
  border-color: white;
  outline: none;
  font-size: 16px;

}
.weather-info__input::placeholder {
  color: rgb(201, 198, 198);
  font-size: 16px;
}
.weather__details {
  height: auto;
  width: 100%;
  margin-top: 15px;
  padding-top: 45px;
  text-align: start;
  border-top: 1px solid rgb(201, 198, 198);
  border-bottom: 1px solid rgb(201, 198, 198);
  color: rgb(201, 198, 198);
}
.city-list,
.cities,
.data-list {
  margin-left: 0;
  padding-left: 0;
}
.cities {
  color: rgb(201, 198, 198);
  padding: 20px 0 10px;
}
.city,
.data {
  margin-top: 25px;
  cursor: pointer;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .weather-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 1200px;
    width: 100%;
  }
  .weather-photo {  
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 50px 5px;
    align-items: center;

  }
  .weather-info{
    margin: 0;
    height: 600px;
    width: 100%;
  }
  .weather-info__input {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(201, 198, 198);
    padding-bottom: 10px;
  }
}